h1 {
    font-size: 50px;
}
.btn-success:hover {
    background-color: red;
}
canvas {
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes example{
    0%{box-shadow: 1px 1px 35px red;}
    10%{box-shadow: 1px 1px 35px orange}
    20%{box-shadow: 1px 1px 35px rgb(242, 255, 0);}
    40%{box-shadow: 1px 1px 35px rgb(17, 255, 0);}
    60%{box-shadow: 1px 1px 35px rgb(0, 251, 255);}
    70%{box-shadow: 1px 1px 35px rgb(0, 76, 255);}
    80%{box-shadow: 1px 1px 35px rgb(0, 0, 255);}
    90%{box-shadow: 1px 1px 35px rgb(255, 0, 234);}
    100%{box-shadow: 1px 1px 35px rgb(255, 0, 0);}

}